{% import '@MyLifeBeLike/include/social-links.html.twig' as social_links %}
{% set bem_block = "footer" %}
<footer class="{{ bem_block }}">
  <div class="{{ bem_block }}__content">
    {{ social_links.links('footer-social') }}

    <div class="{{ bem_block }}__menu">

      {{ drupal_block('system_menu_block:footer') }}

    </div>
    <div class="{{ bem_block }}__copyright">
      &copy; {{ 'now'|date('Y') }} <strong>Desire</strong>. All rights reserved.
    </div>
      <div class="{{ bem_block }}__up">
         <a href="#">UP</a>
      </div>
  </div>
</footer>
